// COLORS
$light-mode-background: #fff;
$light-mode-text: #333;
$light-mode-nav:steelblue;

$dark-mode-background: #1a1919;
$dark-mode-text: #999;
$dark-mode-nav:#1b2938;

$toggle-bar: #555;
$toggle-outline: #fff;
$toggle-circle: cyan;
